<?xml version="1.0" encoding="UTF-8"?>
<!--
 Program Name: CMIS440 Lab 4 Address Book Web App
 @author Brandon R Russell
 @Course CMIS440
 Date: Jan 6, 2011


 -->
<web-app id="AddressBook" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.uploadDirectory</param-name>
  <param-value>upload</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
  <param-value>4048576</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.jspx</param-value>
 </context-param>
 <listener>
  <listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
 </listener>
 <!-- The servlet below is used for automatic ajax push --> 
 <servlet>
  <servlet-name>Grizzly Push Servlet</servlet-name>
  <servlet-class>com.icesoft.faces.webapp.http.servlet.GrizzlyPushServlet</servlet-class>
  <load-on-startup> 1 </load-on-startup>
 </servlet> 
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Blocking Servlet</servlet-name>
  <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>uploadServlet</servlet-name>
  <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <!-- The servlet-mapping below is used for automatic ajax push --> 
 <servlet-mapping>
  <servlet-name>Grizzly Push Servlet</servlet-name>
  <url-pattern>/block/receive-updated-views/*</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>*.jspx</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>*.iface</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>/xmlhttp/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Blocking Servlet</servlet-name>
  <url-pattern>/block/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>uploadServlet</servlet-name>
  <url-pattern>/uploadHtml</url-pattern>
 </servlet-mapping>
 <!-- Everything above is auto-generated code, but below
 	I set the session timeout to 60 minutes so you won't have
 	to reload the page for up to one hour of inactivity 
  -->
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <!-- I made index.html the welcome page which redirects
 	to the AddressBook.jspx page 
  -->
 <welcome-file-list>
  <welcome-file>/index.html</welcome-file>
 </welcome-file-list>
 <!-- Below tells where to redirect for the error page. -->
 <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/ErrorRedirect.jsp</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/ErrorRedirect.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
