@CHARSET "ISO-8859-1";


h3{
	text-align: center;	
}

body{
	text-align: center;	
}	
	
.addressTable {
	border: 1px solid #666666;
}
.addressHeader{
	text-align: center;
	font-style: italic;
}

.oddRow{
    background-color: #C0C0C0;
}

.evenRow{
    background-color: #CCCCFF;
}

.Columns{
	border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.editField{
	
}

.myTablePaginator{
	margin: 0px;
	display: inline-table;
}

#main{
	width: 747px;
	margin-left: auto;
	margin-right: auto;	
}
.mainPanelGrid{
	border: none;
}

.addColumn{
	border: double;
	left: 0px;

}

.searchColumn{
	border: double;
	right: 0px;

}

.addForm{
	text-align: center;
	height: 485px;
}

.searchForm{
	text-align: center;
	height: 485px;
}

.instructionForm{
	width: 20%;
	border: none;
}


#top{	
	width: 618px; 
	margin-left: auto;
	margin-right: auto;
		
}

.topPanelGrid{
	display: inline-table;
}


	
