@CHARSET "ISO-8859-1";

/*
 Program Name: CMIS440 Lab 4 Address Book Web App
 @author Brandon R Russell
 @Course CMIS440
 Date: Jan 6, 2011
*/

/*
This is the CSS styling for AddressBook.jspx
*/

/*For the body*/
body{
	background: #f8f7e5 url(images/backgroundImage.jpg) no-repeat center top;
	text-align: center;	
}	


/*This is for the H1 header*/
#top{
	width:100%;	
	text-align: center;
	
}

h1{
	text-decoration: underline
}

#middle{
	width: 100%;
	text-align: center;
}

.errorPanelGrid{
	width: 100%;		
}

#bottom{
	width: 100%;
	text-align: center;
}

	
